input.ng-invalid.ng-touched{
    border: 1px solid red;
}

#signUp{
    background: url('../../../../assets/image/SignUpImage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-x: center;
    
   
   


}